<ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 mt-10 m-6 max-w-5xl mx-auto">
  {{#each dogs as |dog|}}
  <li class="col-span-1 divide-y divide-gray-200 rounded-sm bg-white shadow max-w-80">
    <div class="flex w-full items-center justify-between space-x-4 p-6">
     {{#if dog.photos}}
      <img class="h-28 w-28 flex-shrink-0 rounded-full bg-gray-300" src="{{dog.photos.[0].medium}}" alt="{{dog.name}}">
      {{else}}
      <img src="/icons/dog.png" alt="Dog Icon">
      {{/if}}
      <div class="flex-1 truncate pl-4">
        <div class="flex items-center space-x-3">
          <h3 class="truncate text-md font-medium text-gray-900">{{dog.name}}</h3>
        </div>
        <p class="mt-1 truncate text-sm text-gray-500">{{dog.breeds.primary}}</p>
        <p class="mt-1 truncate text-sm text-gray-500">{{dog.gender}}</p>
        <p class="mt-1 truncate text-sm text-gray-500">{{dog.age}}</p>
      </div>
    </div>
    <div>
      <div class="-mt-px flex divide-x divide-gray-200">
        <div class="flex w-0 flex-1">
          <a href="{{dog.url}}" class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
            View full profile
          </a>
        </div>
        <div class="-ml-px flex w-0 flex-1">
          <button id="favorite-btn-{{dog.id}}" 
          onclick="
          favoriteDog(this, 
          '{{dog.id}}', 
          '{{dog.name}}', 
          '{{dog.breeds.primary}}', 
          '{{dog.age}}', 
          '{{dog.gender}}', 
          '{{dog.url}}',
          '{{dog.photos.[0].medium}}')" 
          class="relative inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
            Favorite
          </button>
        </div>
      </div>
    </div>
  </li>
 {{/each}}
</ul>

<script>
function favoriteDog(button, id, name, breed, age, gender, url, photo) {
  const dogData = { id, name, breed, age, gender, url, photo };

   fetch('/favorite', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'Accept': 'application/json',
    },
    credentials: 'include',
    body: JSON.stringify(dogData)
  })
  .then(response => {
    if (response.ok) {
      button.classList.toggle('font-bold');
      button.classList.toggle('text-emerald-500');
    }
    return response.json();
  })
  .catch(error => console.error('Error:', error));
}
</script>
