{{!-- Users profile page, displaying saved favorite dogs from SQL database --}}
<style>
    .favorite-note {
      font-style: italic;
      border: none;
      padding: .5em;
      --tw-text-opacity: 1;
      color: rgb(107 114 128 / var(--tw-text-opacity));
    }
</style>
<div class="flex flex-col items-center mx-auto text-center max-w-3xl">
  <h1 class="text-3xl font-bold text-emerald-700 mt-14">Hi, {{user.firstname}}!</h1>
  <p class="w-2/3 mt-2">Here are all pups you have saved in your search-
  </p>
</div>
<ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 mt-10 m-6 max-w-5xl mx-auto">
  {{#each favorites as |favorite|}}
  <li class="col-span-1 divide-y divide-gray-200 rounded-sm bg-white shadow max-w-80">
    <div class="flex w-full items-center justify-between space-x-4 p-6">
      <img class="h-28 w-28 flex-shrink-0 rounded-full bg-gray-300" src="{{favorite.photo}}" alt="">
      <div class="flex-1 truncate pl-4">
        <div class="flex items-center space-x-3">
          <h3 class="truncate text-md font-medium text-gray-900">{{favorite.name}}</h3>
        </div>
        <p class="mt-1 truncate text-sm text-gray-500">{{favorite.breed}}</p>
        <p class="mt-1 truncate text-sm text-gray-500">{{favorite.gender}}</p>
        <p class="mt-1 truncate text-sm text-gray-500">{{favorite.age}}</p>
      </div>
    </div>
    {{#if favorite.note}}
      <div id="note" class="favorite-note">Note: {{favorite.note}}</div>
    {{/if}}
    <div>
      <div class="-mt-px flex divide-x divide-gray-200">
        <div class="flex w-0 flex-1">
          <button onclick="removeFavorite('{{favorite.id}}')" class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
            Remove
          </button>
        </div>
        <div class="-ml-px flex w-0 flex-1">
          <a href="/favorite/note/{{favorite.id}}" class="relative inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
            Add/Edit Note
          </a>
        </div>
      </div>
    </div>
  </li>
 {{/each}}
</ul>